<h3>Manage Plans</h3>

<br>
Available plans
<br>
<div *ngFor="let plan of plans">{{plan}}</div>

<br>
Selected plan &nbsp;
<select [(ngModel)]="selectedPlan">
      <option *ngFor="let plan of plans" [value]="plan">{{plan}}</option>
</select>

<br><br>
<button (click)="clonePlan()" title="Copy currently selected plan as starting point for a new plan">Clone</button>
&nbsp;&nbsp;&nbsp;
<button (click)="deletePlan()" title="Delete the currently selected plan">Delete</button>

<br><br>
<div *ngFor="let message of messages">{{message}}</div>
