<h3>Assets</h3>

<table>
	<template ngFor let-subcat [ngForOf]="currentAssetSubcategories">
        <tr class="subcategory">
        	<td>{{subcat}}</td>
        	<td>
         		<input class="subcategory" type="number" [value]="cAssets.getSubcategorySum(subcat)" size="8" readonly>
        	</td>
        </tr>
	    <template ngFor let-type [ngForOf]="currentAssetTypes[subcat]">
	        <tr class="type">
	        	<td>{{type}}</td>
	         	<td>
	         		<input class="type" type="number" [(ngModel)]="cAssets.assets[subcat][type]" (blur)="verify()" size="8">
	         	</td>
	        </tr>
	    </template>
	</template>
</table>
Total Assets&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{cAssets.getCategorySum()}}

<br><br><br>
Subcategory
<br>
<input type="radio" name="subcategory" class="subcategory" value="Add" (change)="onSubcategoryActionChange()" checked="checked" />Add
&nbsp;&nbsp;
<input type="radio" name="subcategory" class="subcategory" value="Delete" (change)="onSubcategoryActionChange()" />Delete
<br>
<select [(ngModel)]="selectedSubcatForSubcat" (change)="onSubcatForSubcatChange()">
	<option *ngFor="let subcat of subcatListForSubcat" [value]="subcat">{{subcat}}</option>
</select>&nbsp;(selected subcategory)
<br>
<input type="text" size=20>&nbsp;(new subcategory name)
<br>
<select [(ngModel)]="selectedTypeForSubcat" (change)="onTypeForSubcatChange()">
	<option *ngFor="let type of typeListForSubcat" [value]="type">{{type}}</option>
</select>&nbsp;(selected type)
<br>
<input type="text" size=20>&nbsp;(new type name)
<br>
<button>Perform Action</button>

<br><br><br>
Type
<br>
<input type="radio" name="type" class="type" value="Add" (change)="onTypeActionChange()" checked="checked" />Add
&nbsp;&nbsp;
<input type="radio" name="type" class="type" value="Delete" (change)="onTypeActionChange()" />Delete
<br>
<select [(ngModel)]="selectedSubcatForType">
	<option value="bankAccount">bankAccount</option>
	<option value="cd">cd</option>
	<option value="taxable">taxable</option>
	<option value="taxadvantaged">taxadvantaged</option>
	<option value="realEstate">realEstate</option>
	<option value="personal">personal</option>
</select>&nbsp;(selected subcategory)
<br>
<select [(ngModel)]="selectedTypeForType">
	<option value="checking">checking</option>
	<option value="savings">savings</option>
	<option value="custom">custom</option>
</select>&nbsp;(selected type)
<br>
<input type="text" size=20>&nbsp;(new type name)
<br>
<button>Perform Action</button>

<br><br>
<div *ngFor="let message of messages">{{message}}</div>
