<h3>Income Details</h3>
<br>
<table>
<tr><td>Salary</td><td><input type="number" name="salary" [(ngModel)]="cIncomeDetails.incomeDetails.salary" (blur)="verify()" size="10"></td></tr>
<tr><td>Interest</td><td><input type="number" name="interest" [(ngModel)]="cIncomeDetails.incomeDetails.interest" (blur)="verify()" size="10"></td></tr>
<tr><td>TOTAL</td><td><input type="text" [ngModel]="incomeTotal | currency:currencyCode:true:'1.0-0'" size="15" readonly></td></tr>
</table>

<br>
<a [routerLink]="['/income']">/\</a>

<br>
<li *ngFor="let message of messages">{{message}}</li>
