<h3>Income Details</h3>
<br>
<form>
<table>
<tr><td>Salary</td><td><input type="text" name="salary" [(ngModel)]="cIncomeDetails.incomeDetails.salary" (keyup.enter)="calctotal()" (blur)="calctotal()" size="10"></td></tr>

<tr><td>Interest</td><td><input type="text" name="interest" [(ngModel)]="cIncomeDetails.incomeDetails.interest" (keyup.enter)="calctotal()" (blur)="calctotal()" (keypress)="digitOnly($event)" size="10"></td></tr>

<tr><td>TOTAL</td><td><input type="text" value={{incomeTotal}} size="10" readonly></td></tr>
</table>
</form>

<br>
<button type="button" (click)="update()">Update</button><br><br>
<a [routerLink]="['/income']">/\</a>
