<h3>Budget Details</h3>
<br>
<table>
<tr><td>Housing</td><td><input type="number" [(ngModel)]="cBudgetDetails.budgetDetails.housing" (blur)="verify()" size="10"></td></tr>
<tr><td>Food</td><td><input type="number" [(ngModel)]="cBudgetDetails.budgetDetails.food" (blur)="verify()" size="10"></td></tr>
<tr><td>TOTAL</td><td><input type="text" [ngModel]="budgetTotal | number:'1.0-0'" size="15" readonly></td></tr>
<tr><td>TOTAL</td><td><input type="text" [ngModel]="budgetTotal | currency:currencyCode:true:'1.0-0'" size="15" readonly></td></tr>
<tr><td>TOTAL</td><td>{{budgetTotal | currency:currencyCode:true:'1.0-0'}}</td></tr>
</table>
<br><br>
<a [routerLink]="['/budget']">/\</a>
<br>
<ul>
  <li *ngFor="let message of messages">
    {{message}}
  </li>
</ul>