<h3>Budget Details</h3>
<br>
<tr><td>Housing</td><td><input type="text" [(ngModel)]="cBudgetDetails.budgetDetails.housing" (keyup.enter)="calcTotal()" (blur)="calcTotal()" size="10"></td></tr>
<tr><td>Food</td><td><input type="text" [(ngModel)]="cBudgetDetails.budgetDetails.food" (keyup.enter)="calcTotal()" (blur)="calcTotal()" size="10"></td></tr>
<tr><td>TOTAL</td><td><input type="text" value={{cBudgetDetails.getBudgetDetailsSum()}} size="10" readonly> continuous update (onChange)</td></tr>
<tr><td>TOTAL</td><td><input type="text" value={{budgetTotal}} size="10" readonly> discrete update (onBlur)</td></tr>
<br>
<button type="button" (click)="update()">Update</button>
<br><br>
<a [routerLink]="['/budget']">/\</a>