<h3>Budget Details</h3>
<br>
<table>
<tr><td>Housing</td><td><input type="text" [(ngModel)]="cBudgetDetails.budgetDetails.housing" (blur)="verify()" size="10"></td></tr>
<tr><td>Food</td><td><input type="text" [(ngModel)]="cBudgetDetails.budgetDetails.food" (blur)="verify()" size="10"></td></tr>
<tr><td>TOTAL</td><td><input type="text" value={{budgetTotal}} size="10" readonly></td></tr>
</table>
<br><br>
<a [routerLink]="['/budget']">/\</a>
<br>
<ul>
  <li *ngFor="let message of messages">
    {{message}}
  </li>
</ul>