<h3>Expenses</h3>

<input type="checkbox" id="typeCbx" name="typeCbx" [(ngModel)]="showAllTypes" (ngModelChange)="updateTypesVisibility()" title="Toggle visibility of all types"/>
<label for="typeCbx">Types</label>
&nbsp;&nbsp;&nbsp;
<input type="checkbox" id="fieldCbx" [(ngModel)]="showAllFields" (ngModelChange)="updateFieldsVisibility()" title="Toggle visibility of all fields"/>
<label for="fieldCbx">Fields</label>
&nbsp;&nbsp;&nbsp;
<input type="checkbox" id="hiddenFieldsCbx" [(ngModel)]="wantHiddenFields" (ngModelChange)="updateHiddenFieldsVisibility()" title="Show hidden fields"/>
<label for="hiddenFieldsCbx">Show "hidden" fields</label>

<br>
<table>
    <tr class="category">
    	<td>Expenses</td>
    	<td>
     		<input class="category" type="number" [value]="getCategorySum(cExpenses.expenses)" size="8" readonly>
    	</td>
    	<td>
    	</td>
    </tr>
	<template ngFor let-subcat [ngForOf]="currentSubcategories">
        <tr class="subcategory">
        	<td>
         		<input class="subcategory" type="string" [(ngModel)]="cExpenses.expenses[subcat]['label']" size="30">
         	</td>
        	<td>
         		<input class="subcategory" type="number" [value]="getSubcategorySum(cExpenses.expenses, subcat)" size="8" readonly>
        	</td>
	    	<td>
				<button (click)="toggleTypeVisibility(subcat)" title="Toggle visibility of types for this subcategory">\/</button>
    		</td>
        </tr>
	    <template ngFor let-type [ngForOf]="currentTypes[subcat]">
	        <tr class="type" *ngIf="isTypeVisible(subcat)">
	        	<td>
         			<input class="type" type="string" [(ngModel)]="cExpenses.expenses[subcat][type]['label']" size="30">
	        	</td>
	         	<td>
	         		<input class="type" type="number" [(ngModel)]="cExpenses.expenses[subcat][type]['monthlyAmount']" (blur)="verify()" size="8">
	         	</td>
				<td>
					<button (click)="toggleFieldVisibility(subcat,type)" title="Toggle visibility of fields for this type">\/</button>
				</td>
			</tr>
		    <template ngFor let-field [ngForOf]="currentFields[subcat][type]">
		        <tr class="field" *ngIf="isTypeVisible(subcat) && isFieldVisible(subcat,type)">
		        	<td>{{field}}</td>
		         	<td>
		         		<input class="field" type="dataType(cExpenses.expenses[subcat][type][field])" [(ngModel)]="cExpenses.expenses[subcat][type][field]" (blur)="verify()" size="30">
		         	</td>
		         	<td>
		         	</td>

		        </tr>
		    </template>
	    </template>
	</template>
</table>

<br><br>
Manage Items
<table>
	<tr>
		<td>Item</td>
		<td>
			<select [(ngModel)]="selectedItem" (change)="onItemChange()">
				<option value="Subcategory">Subcategory</option>
				<option value="Type">Type</option>
				<option value="Field">Field</option>
			</select>
		</td>
    </tr>
    <tr>
		<td>Action</td>
		<td>
			<select [(ngModel)]="selectedAction" (change)="onActionChange()">
				<option value="Add">Add</option>
				<option value="Delete">Delete</option>
			</select>
		</td>
    </tr>
   	<tr>
		<td>Subcategory</td>
		<td>
			<select [(ngModel)]="selectedSubcategory" (change)="onSubcategoryChange()">
				<option *ngFor="let subcat of subcatList" [value]="subcat">{{subcat}}</option>
			</select>
    		<input *ngIf="selectedSubcategory == 'custom'" type="text" [(ngModel)]="customSubcategory" size="15" title="Name of custom Subcategory attribute">
		</td>
    </tr>
   	<tr *ngIf="selectedAction == 'Add' || selectedItem == 'Type' || selectedItem == 'Field'">
		<td>Type</td>
		<td>
			<select [(ngModel)]="selectedType" (change)="onTypeChange()">
				<option *ngFor="let type of typeList" [value]="type">{{type}}</option>
			</select>
    		<input *ngIf="selectedType == 'custom'" type="text" [(ngModel)]="customType" size="15" title="Name of custom Type attribute">
		</td>
    </tr>
   	<tr *ngIf="selectedAction == 'Add' || selectedItem == 'Field'">
		<td>Field</td>
		<td>
			<select [(ngModel)]="selectedField" (change)="onFieldChange()">
				<option *ngFor="let field of fieldList" [value]="field">{{field}}</option>
			</select>
    		<input *ngIf="selectedField == 'custom'" type="text" [(ngModel)]="customField" size="15" title="Name of custom Field attribute">
		</td>
    </tr>
</table>

<br>
<button (click)="performAction()">Perform Action</button>

<br><br>
<div *ngFor="let message of messages">{{message}}</div>
