<h3>Expenses</h3>

<input type="checkbox" id="typeCbx" name="typeCbx" [(ngModel)]="showAllTypes" (ngModelChange)="updateTypesVisibility()" title="Toggle visibility of all types"/>
<label for="typeCbx">Types</label>
&nbsp;&nbsp;&nbsp;
<input type="checkbox" id="fieldCbx" [(ngModel)]="showAllFields" (ngModelChange)="updateFieldsVisibility()" title="Toggle visibility of all fields"/>
<label for="fieldCbx">Fields</label>
&nbsp;&nbsp;&nbsp;
<input type="checkbox" id="labelCbx" [(ngModel)]="areLabelsVisible" title="Toggle visibility of all labels"/>
<label for="labelCbx">Labels</label>

<br>
<table>
    <tr class="category">
    	<td>Expenses</td>
    	<td>
     		<input class="category" type="number" [value]="cExpenses.getCategorySum()" size="8" readonly>
    	</td>
    </tr>
	<template ngFor let-subcat [ngForOf]="currentExpensesSubcategories">
        <tr class="subcategory">
        	<td>{{cExpenses.expenses[subcat]['label']}}</td>
        	<td>
         		<input class="subcategory" type="number" [value]="cExpenses.getSubcategorySum(subcat)" size="8" readonly>
        	</td>
        </tr>
	    <template ngFor let-type [ngForOf]="currentExpensesTypes[subcat]">
	        <tr class="type" *ngIf="isTypeVisible(subcat)">
	        <!-- <tr class="type"> -->
	        	<td>{{cExpenses.expenses[subcat][type]['label']}}</td>
	         	<td>
	         		<input class="type" type="number" [(ngModel)]="cExpenses.expenses[subcat][type]['monthlyAmount']" (blur)="verify()" size="8">
	         	</td>
	        </tr>
		    <template ngFor let-field [ngForOf]="currentExpensesFields[subcat][type]">
		        <tr class="field" *ngIf="isTypeVisible(subcat) && isFieldVisible(subcat,type)">
		        <!-- <tr class="field"> -->
		        	<td>{{field}}</td>
		         	<td>
		         		<input class="field" type="dataType(cExpenses.expenses[subcat][type][field])" [(ngModel)]="cExpenses.expenses[subcat][type][field]" (blur)="verify()" size="30">
		         	</td>
		        </tr>
		    </template>
	    </template>
	</template>
</table>

<br><br>
Manage Items
<table>
	<tr>
		<td>Item</td>
		<td>
			<select [(ngModel)]="selectedItem" (change)="onItemChange()">
				<option value="Type">Type</option>
				<option value="Subcategory">Subcategory</option>
			</select>
		</td>
    </tr>
    <tr>
		<td>Action</td>
		<td>
			<select [(ngModel)]="selectedAction" (change)="onActionChange()">
				<option value="Add">Add</option>
				<option value="Delete">Delete</option>
			</select>
		</td>
    </tr>
   	<tr>
		<td>Subcategory</td>
		<td>
			<select [(ngModel)]="selectedSubcategory" (change)="onSubcategoryChange()">
				<option *ngFor="let subcat of subcatList" [value]="subcat">{{subcat}}</option>
			</select>
		</td>
    </tr>
   	<tr *ngIf="selectedSubcategory == 'custom' && selectedAction == 'Add'">
		<td>new name</td>
		<td>
    		<input type="text" size=15>
		</td>
    </tr>
   	<tr *ngIf="selectedAction == 'Add' || selectedItem == 'Type'">
		<td>Type</td>
		<td>
			<select [(ngModel)]="selectedType" (change)="onTypeChange()">
				<option *ngFor="let type of typeList" [value]="type">{{type}}</option>
			</select>
		</td>
    </tr>
   	<tr *ngIf="selectedType == 'custom'">
		<td>new name</td>
		<td>
    		<input type="text" size=15>
		</td>
    </tr>
</table>

<br>
<button>Perform Action</button>
