<h3>Income Details</h3>
<br>
<table>
<tr><td>Salary</td><td><input type="text" [(ngModel)]="incomedetails.salary" (keyup.enter)="calctotal()" (blur)="calctotal()" size="10"></td></tr>
<tr><td>Interest</td><td><input type="text" [(ngModel)]="incomedetails.interest" (keyup.enter)="calctotal()" (blur)="calctotal()" size="10"></td></tr>
<tr><td>TOTAL</td><td><input type="text" [(ngModel)]="incometotal" size="10" readonly></td></tr>
</table>
<br>
<button type="button" (click)="update()">Update</button><br><br>
<a [routerLink]="['/income']">/\</a>
