<h3>Settings</h3>
<br>
<table>
<tr><td>Currency code</td><td><input type="text" [(ngModel)]="cSettings.settings.currencyCode" (blur)="verify()" size="10"></td></tr>
<tr><td>Thousands separator</td><td><input type="text" [(ngModel)]="cSettings.settings.thousandsSeparator" (blur)="verify()" size="10"></td></tr>
<tr><td>Decimal separator</td><td><input type="text" [(ngModel)]="cSettings.settings.decimalSeparator" (blur)="verify()" size="10"></td></tr>
</table>

<br>
<li *ngFor="let message of messages">{{message}}</li>
